.confirmation-page {
    &__artist-info {
        &__img {
            width: 100px;
            height: 100px;
        }
    }
    .confirmation-social {
        .social-item {
            margin-right: 20px !important;
        }
    }
}
