.login-form {
    .not-have-account-text {
        font-size: 13px;
        font-weight: 600;
        .register-link {
            color: #ff4a32;
            cursor: pointer;
        }
    }

    .register-account-container,
    .login-container {
        &.border {
            border: solid 1px #ffdad7 !important;
            height: 100%;
        }
    }
}
