.navbar-brand {
    img {
        width: 128px;
    }
}

.header-navbar {
    .nav-link {
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff !important;
    }
}

.user-profile {
    .user-profile-item {
        font-size: 13px;
        font-weight: 600;
    }
}
