.error-template {
    padding: 40px 15px;
    text-align: center;
}
.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.not-found-number {
    font-size: 10rem;
}

.error-actions-btn {
    border-radius: 4px;
    font-weight: 600;
    background-color: #ff4a32;
    border: solid 1px #ff4a32;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}
